<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SB Admin 2 - Dashboard</title>

    <!-- Custom fonts for this template-->
    <link href="~/Assets/Admin/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="~/Assets/Admin/css/sb-admin-2.min.css" rel="stylesheet" />

    <!-- Style for table page-->
    <link href="~/Assets/Admin/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">

    <!-- Bootstrap core JavaScript-->
    <script src="~/Assets/Admin/vendor/jquery/jquery.min.js"></script>
    <script src="~/Assets/Admin/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="~/Assets/Admin/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="~/Assets/Admin/js/sb-admin-2.min.js"></script>

    <!-- Page level plugins -->
    <script src="~/Assets/Admin/vendor/chart.js/Chart.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="~/Assets/Admin/js/demo/chart-area-demo.js"></script>
    <script src="~/Assets/Admin/js/demo/chart-pie-demo.js"></script>

    <!-- Js file for table page -->
    <script src="~/Assets/Admin/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="~/Assets/Admin/vendor/datatables/dataTables.bootstrap4.min.js"></script>
    <script src="~/Assets/Admin/js/demo/datatables-demo.js"></script>

    <style>
        body {
            position: relative;
        }

        #flash {
            align-items: center;
            position: fixed;
            right: 0;
            top: 20px;
            transform: translateX(100%);
            transition: all ease-out 0.25s;
            width: 360px;
            border-radius: 4px;
            padding: 12px;
            display: flex;
            z-index: 1;
        }
    </style>

</head>

<body id="page-top">
    <!-- Flash Message-->
    @if (TempData["AlertMessage"] != null)
    {
        <div id="flash" class="alert bg-@TempData["AlertType"]">
            <span id="flash-icon">@TempData["AlertIcon"]</span>
            <span id="flash-message" class="text-white">@TempData["AlertMessage"]</span>
        </div>
    }

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        @RenderPage("Sidebar.cshtml")
        <!-- End of Sidebar -->
        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                @RenderPage("Header.cshtml")
                <!-- End of Topbar -->
                <!-- Begin Page Content -->
                @RenderBody()
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->
            <!-- Footer -->
            @RenderPage("Footer.cshtml")
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Đăng xuất</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Bạn chắc chắn muốn đăng xuất khỏi hệ thống?</div>
                <div class="modal-footer">
                    <button class="btn btn-primary" type="button" data-dismiss="modal">Hủy bỏ</button>
                    <a class="btn btn-danger" href="/Home/Logout">Đồng ý</a>
                </div>
            </div>
        </div>
    </div>

    <script>
        const flash = document.getElementById("flash");

        function showFlash() {
            flash.style.transform = "translateX(-10%)";
            setTimeout(() => {
                flash.style.transform = "translateX(100%)";
            }, 2500);
        }

        if (flash) {
            window.addEventListener("load", e => showFlash());
        }

    </script>
</body>

</html>