@model FootballShopModel.Models.Product
@{
    ViewBag.Title = "ProductDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var format = System.Globalization.CultureInfo.GetCultureInfo("vi-VN");
}


<!-- Cart -->
<div class="wrap-header-cart js-panel-cart">
    <div class="s-full js-hide-cart"></div>

    <div class="header-cart flex-col-l p-l-65 p-r-25">
        <div class="header-cart-title flex-w flex-sb-m p-b-8">
            <span class="mtext-103 cl2">
                Your Cart
            </span>

            <div class="fs-35 lh-10 cl2 p-lr-5 pointer hov-cl1 trans-04 js-hide-cart">
                <i class="zmdi zmdi-close"></i>
            </div>
        </div>

        <div class="header-cart-content flex-w js-pscroll">
            <ul id="detail-list-all-products-in-cart" class="header-cart-wrapitem w-full">
                @*<li  class="header-cart-item flex-w flex-t m-b-12">
                    <div class="header-cart-item-img">
                        <img src="~/Assets/Client/images/item-cart-01.jpg" alt="IMG">
                    </div>

                    <div class="header-cart-item-txt p-t-8">
                        <a href="#" class="header-cart-item-name m-b-18 hov-cl1 trans-04">
                            White Shirt Pleat
                        </a>

                        <span class="header-cart-item-info">
                            1 x 500.000đ
                        </span>
                    </div>
                </li>*@
            </ul>
            

            <div class="w-full">
                <div  class="header-cart-total w-full p-tb-40">
                    Tổng : <span id="detail-cart-total-price-sidebar">1.500.000</span> đ
                </div>

                <div class="header-cart-buttons flex-w w-full">
                    <a href="shoping-cart.html" class="flex-c-m stext-101 cl0 size-107 bg3 bor2 hov-btn3 p-lr-15 trans-04 m-r-8 m-b-10">
                        View Cart
                    </a>

                    <a href="shoping-cart.html" class="flex-c-m stext-101 cl0 size-107 bg3 bor2 hov-btn3 p-lr-15 trans-04 m-b-10">
                        Check Out
                    </a>
                </div>
            </div>
        </div>

    </div>
</div>

<section class="sec-product-detail bg0 p-t-65 p-b-60">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-7 p-b-30">
                <div class="p-l-25 p-r-30 p-lr-0-lg">
                    <div class="wrap-slick3 flex-sb flex-w">
                        <div class="wrap-slick3-dots"></div>
                        <div class="wrap-slick3-arrows flex-sb-m flex-w"></div>

                        <div class="slick3 gallery-lb">
                            <div class="item-slick3" data-thumb="/Assets/Admin/img/product/@Model.image">
                                <div class="wrap-pic-w pos-relative">
                                    <img src="/Assets/Admin/img/product/@Model.image" alt="IMG-PRODUCT" >

                                    <a class="flex-c-m size-108 how-pos1 bor0 fs-16 cl10 bg0 hov-btn3 trans-04" href="images/product/ao6.webp">
                                        <i class="fa fa-expand"></i>
                                    </a>
                                </div>
                            </div>

                            <div class="item-slick3" data-thumb="/Assets/Admin/img/product/@Model.image">
                                <div class="wrap-pic-w pos-relative">
                                    <img src="/Assets/Admin/img/product/@Model.image" alt="IMG-PRODUCT">

                                    <a class="flex-c-m size-108 how-pos1 bor0 fs-16 cl10 bg0 hov-btn3 trans-04" href="images/product/ao6.webp">
                                        <i class="fa fa-expand"></i>
                                    </a>
                                </div>
                            </div>

                            <div class="item-slick3" data-thumb="/Assets/Admin/img/product/@Model.image">
                                <div class="wrap-pic-w pos-relative">
                                    <img src="/Assets/Admin/img/product/@Model.image" alt="IMG-PRODUCT">

                                    <a class="flex-c-m size-108 how-pos1 bor0 fs-16 cl10 bg0 hov-btn3 trans-04" href="images/product/ao6.webp">
                                        <i class="fa fa-expand"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-5 p-b-30">
                <div class="p-r-50 p-t-5 p-lr-0-lg">
                    <h4 class="mtext-105 js-name-detail p-b-14">
                        @Model.name
                    </h4>
                    <div class="flex-w flex-sb-m p-b-17 align-items-center">
                        @if (Model.discount > 0)
                        {
                            <div class="mtext-101 detail-product-price-new">
                                <p>
                                    @String.Format(format, "{0:c0}", Convert.ToInt64(Model.price * (100 - Model.discount) / 100))
                                </p>
                            </div>
                            <div class="mtext-101 detail-product-price-old">
                                <p>
                                    @String.Format(format, "{0:c0}", Model.price)
                                </p>
                            </div>
                        }
                        else
                        {
                            <div class="stext-105 detail-product-price-old">
                                <p>
                                    @String.Format(format, "{0:c0}", Model.price)
                                </p>
                            </div>
                        }
                        <span class="fs-18 cl11">
                            <i class="zmdi zmdi-star"></i>
                            <i class="zmdi zmdi-star"></i>
                            <i class="zmdi zmdi-star"></i>
                            <i class="zmdi zmdi-star"></i>
                            <i class="zmdi zmdi-star-half"></i>
                        </span>
                    </div>


                    <p class="stext-102 cl3 p-t-23">
                        @Model.infor
                    </p>

                    <!--  -->
                    <div class="p-t-33">
                        <div class="flex-w  m-b-32">
                            <div class="size-203  respon6">
                                Size
                            </div>

                            @{
                                for (var i = 35; i < 41; i++)
                                {
                                    if (Int64.Parse(Model.size) == i)
                                    {
                                        <div class="respon6-next mr-2"><span class="size-border size-border-active">@i</span></div>
                                    }
                                    <div class="respon6-next mr-2"><span class="size-border">@i</span></div>
                                }





                            }



                        </div>

                        <div class="flex-w m-b-32">
                            <div class="size-203 respon6">
                                Color
                            </div>

                            <div class="size-204 respon6-next">
                                <div class="rs1-select2 bor8 bg0">
                                    <select class="js-select2" name="time">
                                        <option>Choose an option</option>
                                        <option>Red</option>
                                        <option>Blue</option>
                                        <option>White</option>
                                        <option>Grey</option>
                                    </select>
                                    <div class="dropDownSelect2"></div>
                                </div>
                            </div>
                        </div>

                        <div class="flex-w flex-r-m p-b-10">
                            <div class="size-204 flex-w flex-m respon6-next">
                                
                                    

                                
                                    @{
                                        var newPrice = Convert.ToInt64(Model.price * (100 - Model.discount) / 100);
                                        var myHtmlString = new HtmlString($"<button " +
                                            $"class=\"flex-c-m stext-101 cl0 size-101 bg1 bor1 hov-btn1 p-lr-15 trans-04 js-addcart-detail\" " +
                                            $"data-id=\"{ @Model.id }\"" +
                                            $"data-idUser=\"{ Session["id_user"] }\"" +
                                            $"data-price=\"{ newPrice }\">" +
                                            $"Thêm vào giỏ hàng</button>");

                                        
                                        var myHtmlStringLogin = new HtmlString("<button " +

                                            "class=\"flex-c-m stext-101 cl0 size-101 bg1 bor1 hov-btn1 p-lr-15 trans-04 js-alert-login\">" +
                                            "Thêm vào giỏ hàng </button>");
                                        //var text = "Add to cart";
                                        if (Session["id_user"] != null)
                                        {
                                            @myHtmlString
                                            var id = Session["id_user"];
                                            

                                           
                                        }
                                        else
                                        {
                                            @myHtmlStringLogin

                                        }
                                    }

                                
                            </div>
                        </div>
                    </div>

                    <!--  -->

                </div>
            </div>
        </div>

        <div class="bor10 m-t-50 p-t-43 p-b-40">
            <!-- Tab01 -->
            <div class="tab01">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist">
                    <li class="nav-item p-b-10">
                        <a class="nav-link active" data-toggle="tab" href="#description" role="tab">Description</a>
                    </li>

                    <li class="nav-item p-b-10">
                        <a class="nav-link" data-toggle="tab" href="#information" role="tab">Additional information</a>
                    </li>

                    <li class="nav-item p-b-10">
                        <a class="nav-link" data-toggle="tab" href="#reviews" role="tab">Reviews (1)</a>
                    </li>
                </ul>

                <!-- Tab panes -->
                <div class="tab-content p-t-43">
                    <!-- Description -->
                    <div class="tab-pane fade show active" id="description" role="tabpanel">
                        <div class="how-pos2 p-lr-15-md">
                            <p class="stext-102 cl6">
                                Aenean sit amet gravida nisi. Nam fermentum est felis, quis feugiat nunc fringilla sit amet. Ut in blandit ipsum. Quisque luctus dui at ante aliquet, in hendrerit lectus interdum. Morbi elementum sapien rhoncus pretium maximus. Nulla lectus enim, cursus et elementum sed, sodales vitae eros. Ut ex quam, porta consequat interdum in, faucibus eu velit. Quisque rhoncus ex ac libero varius molestie. Aenean tempor sit amet orci nec iaculis. Cras sit amet nulla libero. Curabitur dignissim, nunc nec laoreet consequat, purus nunc porta lacus, vel efficitur tellus augue in ipsum. Cras in arcu sed metus rutrum iaculis. Nulla non tempor erat. Duis in egestas nunc.
                            </p>
                        </div>
                    </div>

                    <!-- Additional information -->
                    <div class="tab-pane fade" id="information" role="tabpanel">
                        <div class="row">
                            <div class="col-sm-10 col-md-8 col-lg-6 m-lr-auto">
                                <ul class="p-lr-28 p-lr-15-sm">
                                    <li class="flex-w flex-t p-b-7">
                                        <span class="stext-102 cl3 size-205">
                                            Weight
                                        </span>

                                        <span class="stext-102 cl6 size-206">
                                            0.79 kg
                                        </span>
                                    </li>

                                    <li class="flex-w flex-t p-b-7">
                                        <span class="stext-102 cl3 size-205">
                                            Dimensions
                                        </span>

                                        <span class="stext-102 cl6 size-206">
                                            110 x 33 x 100 cm
                                        </span>
                                    </li>

                                    <li class="flex-w flex-t p-b-7">
                                        <span class="stext-102 cl3 size-205">
                                            Materials
                                        </span>

                                        <span class="stext-102 cl6 size-206">
                                            60% cotton
                                        </span>
                                    </li>

                                    <li class="flex-w flex-t p-b-7">
                                        <span class="stext-102 cl3 size-205">
                                            Color
                                        </span>

                                        <span class="stext-102 cl6 size-206">
                                            Black, Blue, Grey, Green, Red, White
                                        </span>
                                    </li>

                                    <li class="flex-w flex-t p-b-7">
                                        <span class="stext-102 cl3 size-205">
                                            Size
                                        </span>

                                        <span class="stext-102 cl6 size-206">
                                            XL, L, M, S
                                        </span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <!-- Reviews -->
                    <div class="tab-pane fade" id="reviews" role="tabpanel">
                        <div class="row">
                            <div class="col-sm-10 col-md-8 col-lg-6 m-lr-auto">
                                <div class="p-b-30 m-lr-15-sm">
                                    <!-- Review -->
                                    <div class="flex-w flex-t p-b-68">
                                        <div class="wrap-pic-s size-109 bor0 of-hidden m-r-18 m-t-6">
                                            <img src="images/avatar-01.jpg" alt="AVATAR">
                                        </div>

                                        <div class="size-207">
                                            <div class="flex-w flex-sb-m p-b-17">
                                                <span class="mtext-107 cl2 p-r-20">
                                                    Ariana Grande
                                                </span>

                                                <span class="fs-18 cl11">
                                                    <i class="zmdi zmdi-star"></i>
                                                    <i class="zmdi zmdi-star"></i>
                                                    <i class="zmdi zmdi-star"></i>
                                                    <i class="zmdi zmdi-star"></i>
                                                    <i class="zmdi zmdi-star-half"></i>
                                                </span>
                                            </div>

                                            <p class="stext-102 cl6">
                                                Quod autem in homine praestantissimum atque optimum est, id deseruit. Apud ceteros autem philosophos
                                            </p>
                                        </div>
                                    </div>

                                    <!-- Add review -->
                                    <form class="w-full">
                                        <h5 class="mtext-108 cl2 p-b-7">
                                            Add a review
                                        </h5>

                                        <p class="stext-102 cl6">
                                            Your email address will not be published. Required fields are marked *
                                        </p>

                                        <div class="flex-w flex-m p-t-50 p-b-23">
                                            <span class="stext-102 cl3 m-r-16">
                                                Your Rating
                                            </span>

                                            <span class="wrap-rating fs-18 cl11 pointer">
                                                <i class="item-rating pointer zmdi zmdi-star-outline"></i>
                                                <i class="item-rating pointer zmdi zmdi-star-outline"></i>
                                                <i class="item-rating pointer zmdi zmdi-star-outline"></i>
                                                <i class="item-rating pointer zmdi zmdi-star-outline"></i>
                                                <i class="item-rating pointer zmdi zmdi-star-outline"></i>
                                                <input class="dis-none" type="number" name="rating">
                                            </span>
                                        </div>

                                        <div class="row p-b-25">
                                            <div class="col-12 p-b-5">
                                                <label class="stext-102 cl3" for="review">Your review</label>
                                                <textarea class="size-110 bor8 stext-102 cl2 p-lr-20 p-tb-10" id="review" name="review"></textarea>
                                            </div>

                                            <div class="col-sm-6 p-b-5">
                                                <label class="stext-102 cl3" for="name">Name</label>
                                                <input class="size-111 bor8 stext-102 cl2 p-lr-20" id="name" type="text" name="name">
                                            </div>

                                            <div class="col-sm-6 p-b-5">
                                                <label class="stext-102 cl3" for="email">Email</label>
                                                <input class="size-111 bor8 stext-102 cl2 p-lr-20" id="email" type="text" name="email">
                                            </div>
                                        </div>

                                        <button class="flex-c-m stext-101 cl0 size-112 bg7 bor11 hov-btn3 p-lr-15 trans-04 m-b-10">
                                            Submit
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- Related Products -->
<section class="sec-relate-product bg0 p-t-45 p-b-105">
    <div class="container">
        <div class="p-b-45">
            <h3 class="ltext-106 cl5 txt-center">
                Related Products
            </h3>
        </div>

        <!-- Slide2 -->
        <div class="card">
            <div class="wrap-slick2">
                <div class="slick2">
                    <!-- Block2 -->
                    <div class="item-slick2 p-l-15 p-r-15 p-t-15 p-b-15">
                        <div class="card bg-light">
                            <div class="block2">
                                <div class="block2-pic hov-img0">
                                    <img src="~/Assets/Client/images/aodabanhtest.jpg" alt="IMG-PRODUCT">

                                    <a href="#" class="block2-btn flex-c-m stext-103 cl2 size-102 bg0 bor2 hov-btn1 p-lr-15 trans-04 js-show-modal1">
                                        Quick View
                                    </a>
                                </div>

                                <div class="block2-txt flex-w flex-t p-t-14 p-b-14 px-3">
                                    <div class="block2-txt-child1 flex-col-l ">
                                        <a href="" class="stext-104 cltext hov-cl1 font-weight-bold trans-04 js-name-b2 p-b-6">
                                            Name
                                        </a>

                                        <div class="flash__sale__product__desc__price__new">
                                            <p>
                                                1000000
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Block2 -->
                    <div class="item-slick2 p-l-15 p-r-15 p-t-15 p-b-15">
                        <div class="card bg-light">
                            <div class="block2">
                                <div class="block2-pic hov-img0">
                                    <img src="~/Assets/Client/images/aodabanhtest.jpg" alt="IMG-PRODUCT">

                                    <a href="#" class="block2-btn flex-c-m stext-103 cl2 size-102 bg0 bor2 hov-btn1 p-lr-15 trans-04 js-show-modal1">
                                        Quick View
                                    </a>
                                </div>

                                <div class="block2-txt flex-w flex-t p-t-14 p-b-14 px-3">
                                    <div class="block2-txt-child1 flex-col-l ">
                                        <a href="" class="stext-104 cltext hov-cl1 font-weight-bold trans-04 js-name-b2 p-b-6">
                                            Name
                                        </a>

                                        <div class="flash__sale__product__desc__price__new">
                                            <p>
                                                1000000
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Block2 -->
                    <div class="item-slick2 p-l-15 p-r-15 p-t-15 p-b-15">
                        <div class="card bg-light">
                            <div class="block2">
                                <div class="block2-pic hov-img0">
                                    <img src="~/Assets/Client/images/aodabanhtest.jpg" alt="IMG-PRODUCT">

                                    <a href="#" class="block2-btn flex-c-m stext-103 cl2 size-102 bg0 bor2 hov-btn1 p-lr-15 trans-04 js-show-modal1">
                                        Quick View
                                    </a>
                                </div>

                                <div class="block2-txt flex-w flex-t p-t-14 p-b-14 px-3">
                                    <div class="block2-txt-child1 flex-col-l ">
                                        <a href="" class="stext-104 cltext hov-cl1 font-weight-bold trans-04 js-name-b2 p-b-6">
                                            Name
                                        </a>

                                        <div class="flash__sale__product__desc__price__new">
                                            <p>
                                                1000000
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Block2 -->
                    <div class="item-slick2 p-l-15 p-r-15 p-t-15 p-b-15">
                        <div class="card bg-light">
                            <div class="block2">
                                <div class="block2-pic hov-img0">
                                    <img src="~/Assets/Client/images/aodabanhtest.jpg" alt="IMG-PRODUCT">

                                    <a href="#" class="block2-btn flex-c-m stext-103 cl2 size-102 bg0 bor2 hov-btn1 p-lr-15 trans-04 js-show-modal1">
                                        Quick View
                                    </a>
                                </div>

                                <div class="block2-txt flex-w flex-t p-t-14 p-b-14 px-3">
                                    <div class="block2-txt-child1 flex-col-l ">
                                        <a href="" class="stext-104 cltext hov-cl1 font-weight-bold trans-04 js-name-b2 p-b-6">
                                            Name
                                        </a>

                                        <div class="flash__sale__product__desc__price__new">
                                            <p>
                                                1000000
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Block2 -->
                    <div class="item-slick2 p-l-15 p-r-15 p-t-15 p-b-15">
                        <div class="card bg-light">
                            <div class="block2">
                                <div class="block2-pic hov-img0">
                                    <img src="~/Assets/Client/images/aodabanhtest.jpg" alt="IMG-PRODUCT">

                                    <a href="#" class="block2-btn flex-c-m stext-103 cl2 size-102 bg0 bor2 hov-btn1 p-lr-15 trans-04 js-show-modal1">
                                        Quick View
                                    </a>
                                </div>

                                <div class="block2-txt flex-w flex-t p-t-14 p-b-14 px-3">
                                    <div class="block2-txt-child1 flex-col-l ">
                                        <a href="" class="stext-104 cltext hov-cl1 font-weight-bold trans-04 js-name-b2 p-b-6">
                                            Name
                                        </a>

                                        <div class="flash__sale__product__desc__price__new">
                                            <p>
                                                1000000
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Block2 -->
                    <div class="item-slick2 p-l-15 p-r-15 p-t-15 p-b-15">
                        <div class="card bg-light">
                            <div class="block2">
                                <div class="block2-pic hov-img0">
                                    <img src="~/Assets/Client/images/aodabanhtest.jpg" alt="IMG-PRODUCT">

                                    <a href="#" class="block2-btn flex-c-m stext-103 cl2 size-102 bg0 bor2 hov-btn1 p-lr-15 trans-04 js-show-modal1">
                                        Quick View
                                    </a>
                                </div>

                                <div class="block2-txt flex-w flex-t p-t-14 p-b-14 px-3">
                                    <div class="block2-txt-child1 flex-col-l ">
                                        <a href="" class="stext-104 cltext hov-cl1 font-weight-bold trans-04 js-name-b2 p-b-6">
                                            Name
                                        </a>

                                        <div class="flash__sale__product__desc__price__new">
                                            <p>
                                                1000000
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Block2 -->
                    <div class="item-slick2 p-l-15 p-r-15 p-t-15 p-b-15">
                        <div class="card bg-light">
                            <div class="block2">
                                <div class="block2-pic hov-img0">
                                    <img src="~/Assets/Client/images/aodabanhtest.jpg" alt="IMG-PRODUCT">

                                    <a href="#" class="block2-btn flex-c-m stext-103 cl2 size-102 bg0 bor2 hov-btn1 p-lr-15 trans-04 js-show-modal1">
                                        Quick View
                                    </a>
                                </div>

                                <div class="block2-txt flex-w flex-t p-t-14 p-b-14 px-3">
                                    <div class="block2-txt-child1 flex-col-l ">
                                        <a href="" class="stext-104 cltext hov-cl1 font-weight-bold trans-04 js-name-b2 p-b-6">
                                            Name
                                        </a>

                                        <div class="flash__sale__product__desc__price__new">
                                            <p>
                                                1000000
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Block2 -->
                    <div class="item-slick2 p-l-15 p-r-15 p-t-15 p-b-15">
                        <div class="card bg-light">
                            <div class="block2">
                                <div class="block2-pic hov-img0">
                                    <img src="~/Assets/Client/images/aodabanhtest.jpg" alt="IMG-PRODUCT">

                                    <a href="#" class="block2-btn flex-c-m stext-103 cl2 size-102 bg0 bor2 hov-btn1 p-lr-15 trans-04 js-show-modal1">
                                        Quick View
                                    </a>
                                </div>

                                <div class="block2-txt flex-w flex-t p-t-14 p-b-14 px-3">
                                    <div class="block2-txt-child1 flex-col-l ">
                                        <a href="" class="stext-104 cltext hov-cl1 font-weight-bold trans-04 js-name-b2 p-b-6">
                                            Name
                                        </a>

                                        <div class="flash__sale__product__desc__price__new">
                                            <p>
                                                1000000
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

