@model FootballShopModel.Models.Account

@{
    ViewBag.Title = "Update";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
<div class="form px-4">
    <button class="btn btn-primary mb-4">
        <a href="@Url.Action("Index")" class="text-white text-decoration-none">Quay lại</a>
    </button>
    <h2>CẬP NHẬT THÔNG TIN TÀI KHOẢN</h2>
    <div class="row">
        <div class="form-group col-6">
            <label for="name">Họ tên</label>
            @Html.TextBoxFor(model => model.name, new { @value = Model.name, @name = "name", @class = "form-control form-control-user", @type = "text", @placeholder = "Nhập họ tên" })
        </div>
        <div class="form-group col-6">
            <label for="email">Email</label>
            @Html.TextBoxFor(model => model.email, new { @name = "email", @class = "form-control form-control-user", @type = "email", @placeholder = "Nhập email" })
        </div>
    </div>
    <div class="row">
        <div class="form-group col-6">
            <label for="password">Mật khẩu</label>
            @Html.TextBoxFor(model => model.password, new { @name = "password", @class = "form-control form-control-user", @type = "password", @placeholder = "Nhập mật khẩu" })
        </div>
        <div class="form-group col-6">
            <label for="role">Phân quyền</label>
            @Html.DropDownListFor(model => model.role, (IEnumerable<SelectListItem>)ViewBag.Roles, new { @name = "email", @class = "form-control form-control-user" })
        </div>
    </div>
    <div class="row">
        <div class="form-group col-6">
            <label for="phone">Số điện thoại</label>
            @Html.TextBoxFor(model => model.phone, new { @name = "phone", @class = "form-control form-control-user", @type = "number", @placeholder = "Nhập số điện thoại" })
        </div>
        <div class="form-group col-6">
            <label for="address">Địa chỉ</label>
            @Html.TextBoxFor(model => model.address, new { @name = "address", @class = "form-control form-control-user", @type = "text", @placeholder = "Nhập địa chỉ" })
        </div>
    </div>

    <div id="add-modal-alert"></div>
    <button type="submit" class="btn btn-primary">
        Lưu thông tin
    </button>
</div>
}
